/**
* Set status styles
*/
@mixin field-modifiers($prefix, $style-borders: true) {
  &.disabled {
    --#{$prefix}-field-border-color: var(--#{$prefix}-disabled-border-color);
    --#{$prefix}-field-text-color: var(--#{$prefix}-disabled-text-color);
    --#{$prefix}-field-placeholder-color: var(
      --#{$prefix}-disabled-placeholder-color
    );
    --#{$prefix}-message-text-color: var(--#{$prefix}-disabled-text-color);
    --#{$prefix}-message-border-color: var(--#{$prefix}-disabled-border-color);
  }

  &.success {
    @if $style-borders {
      --#{$prefix}-field-border-color: var(--#{$prefix}-success-color);
    }
  }

  &.error {
    --#{$prefix}-label-color: var(--#{$prefix}-error-color);
    --#{$prefix}-field-border-color-focus: var(--#{$prefix}-error-color);
    @if $style-borders {
      --#{$prefix}-field-border-color: var(--#{$prefix}-error-color);
    }
  }

  @content;
}

/**
* Set focus styles
*/
@mixin focus-state($prefix) {
  --#{$prefix}-field-border-color: var(--#{$prefix}-field-border-color-focus);
  box-shadow: var(--#{$prefix}-field-shadow);
  outline-color: var(--#{$prefix}-field-border-color);
  outline-width: var(--#{$prefix}-field-border-width);
  outline-style: var(--#{$prefix}-field-border-style);

  @content;
}

/**
* Set focus styles
*/
@mixin hover-state($prefix) {
  --#{$prefix}-field-border-color: var(--#{$prefix}-field-border-color-focus);
  box-shadow: var(--#{$prefix}-field-shadow);

  @content;
}

/**
* Set button specific styles
*/
@mixin field-as-button($prefix, $btn-type) {
  &__field-wrapper {
    position: relative;
    width: var(--#{$prefix}-field-width);
    height: var(--#{$prefix}-field-height);
  }

  &__field {
    cursor: pointer;
    position: absolute;
    width: var(--#{$prefix}-field-width);
    height: var(--#{$prefix}-field-height);
    margin: 0;
    opacity: 0;
    z-index: 1;

    + .#{$prefix}__#{$btn-type} {
      transition: all 100ms ease-in-out;
    }

    &:focus:not(.readonly) {
      + .#{$prefix}__#{$btn-type} {
        @include focus-state($prefix);
      }
    }

    &:hover:not(.readonly) {
      + .#{$prefix}__#{$btn-type} {
        @include hover-state($prefix);
      }
    }

    &:checked {
      + .#{$prefix}__#{$btn-type} {
        --#{$prefix}-checked-opacity: 1;
        background-color: #000000; // TODO make a css var
        transition: background-color 300ms ease-in-out;
      }
    }
  }

  &__#{$btn-type} {
    position: absolute;
    width: var(--#{$prefix}-field-width);
    height: var(--#{$prefix}-field-height);
    background-color: var(--#{$prefix}-field-background-color);
    border-color: var(--#{$prefix}-field-border-color);
    border-width: var(--#{$prefix}-field-border-width);
    border-style: var(--#{$prefix}-field-border-style);
    border-radius: var(--#{$prefix}-field-border-radius);
    z-index: 0;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: calc(var(--#{$prefix}-field-width) / 2);
      height: calc(var(--#{$prefix}-field-height) / 2);
      background-color: var(--#{$prefix}-success-color);
      border-radius: var(--#{$prefix}-field-border-radius);
      opacity: var(--#{$prefix}-checked-opacity);
      transition: opacity 300ms ease-in-out;
      z-index: 1;
    }
  }

  &__label {
    position: relative;
    width: fit-content;
    margin-right: var(--#{$prefix}-field-widthwidth);
    color: var(--#{$prefix}-label-text-color);
    font-size: var(--#{$prefix}-label-font-size);
    line-height: var(--#{$prefix}-label-line-height);
  }
}

/**
* Set text box specific styles
*/
@mixin field-as-box-wtih-text($prefix) {
  position: relative;
  margin-bottom: var(--#{$prefix}-margin-bottom);
  color: var(--#{$prefix}-field-text-color);

  &__label-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: rem(8);

    &--hidden {
      @include visually-hidden;
    }
  }

  &__label {
    display: block;
    font-size: var(--#{$prefix}-label-font-size);
    line-height: var(--#{$prefix}-label-line-height);
    height: var(--#{$prefix}-label-height);
    color: var(--#{$prefix}-label-text-color);
  }

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: rem(8);

    background-color: var(--#{$prefix}-field-background-color);

    border-color: var(--#{$prefix}-field-border-color);
    border-width: var(--#{$prefix}-field-border-width);
    border-style: var(--#{$prefix}-field-border-style);
    border-radius: var(--#{$prefix}-field-border-radius);

    padding-left: var(--#{$prefix}-field-padding-x);
    padding-right: var(--#{$prefix}-field-padding-x);
    padding-top: var(--#{$prefix}-field-padding-y);
    padding-bottom: var(--#{$prefix}-field-padding-y);

    transition: all 100ms ease-in-out;
    position: relative;
    z-index: 1;

    &:focus-within:not(.readonly) {
      @include focus-state($prefix);
    }

    &:hover:not(.readonly) {
      @include hover-state($prefix);
    }
  }

  &__field {
    height: var(--#{$prefix}-field-height);

    font-size: var(--#{$prefix}-field-font-size);
    line-height: var(--#{$prefix}-field-line-height);
    color: var(--#{$prefix}-field-text-color);

    background-color: unset;
    border: none;
    overflow: hidden;
    flex: 1;

    @include remove-auto-complete-style {
      -webkit-text-fill-color: var(--#{$prefix}-field-text-color);
    }

    &:focus {
      border: none;
      outline: none;
    }
  }
}

/**
* Set message styles
*/
@mixin message-styles($prefix) {
  &__message-wrapper {
    position: relative;
  }

  &__success {
    color: var(--#{$prefix}-success-color);
    width: var(--#{$prefix}-label-font-size);
    height: var(--#{$prefix}-label-font-size);
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1;
  }

  &__message {
    position: relative;
    color: var(--#{$prefix}-message-text-color);
    font-size: var(--#{$prefix}-message-font-size);
    line-height: var(--#{$prefix}-message-line-height);
    background-color: var(--#{$prefix}-message-background-color);
    min-width: max-content;
    word-wrap: normal;
    white-space: normal;

    padding-top: var(--#{$prefix}-message-padding-y);
    padding-bottom: var(--#{$prefix}-message-padding-y);
    padding-left: var(--#{$prefix}-message-padding-x);
    padding-right: var(--#{$prefix}-message-padding-x);

    border-color: var(--#{$prefix}-message-border-color);
    border-width: var(--#{$prefix}-message-border-width);
    border-style: var(--#{$prefix}-message-border-style);

    border-bottom-right-radius: var(--#{$prefix}-message-border-radius);
    border-bottom-left-radius: var(--#{$prefix}-message-border-radius);
    z-index: 0;

    .status-message {
      display: flex;
      align-items: center;
      gap: rem(8);

      &.error {
        color: var(--#{$prefix}-error-color);
      }
    }
  }
}
