$prefix: datepicker;

input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
// TODO move most of these values to SCSS vars
.datepicker {
  --day-width: #{rem(40)};
  --day-border-width: 1px;
  --day-border-color: #999;
  --day-border-style: solid;
  --calendar-gap: #{rem(16)};
  --datepicker-width: calc(var(--day-width) * 7);
  --datepicker-height: calc(var(--day-width) * 6);

  @include base-field-vars($prefix);
  @include field-vars-with-text($prefix);
  @include field-modifiers($prefix);
  @include field-as-box-wtih-text($prefix);
  @include message-styles($prefix);

  &__field {
    @include input-placeholder {
      color: var(--datepicker-field-placeholder-text-color);
    }
  }

  &__appended-icon-wrapper {
    display: contents;
  }
  &__appended-icon {
    &--clickable {
      cursor: pointer;
    }
  }

  &__wrapper {
    background-color: #111;
    display: inline-block;
    border: 1px solid rgb(148, 148, 148);
    position: absolute;
    top: calc(100% + rem(8));
    right: calc(var(--datepicker-field-border-width) * -1);
    z-index: 100;
    border-radius: 4px;
    border-radius: 8px;

    &::after {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      transform: rotate(45deg);
      border-radius: 4px;
      background-color: #111;
      top: calc(rem(8) * -1);
      right: rem(16);
      z-index: -1;
    }

    &.top {
      top: unset;
      bottom: calc(100% + rem(8));

      &::after {
        top: unset;
        bottom: calc(rem(8) * -1);
      }
    }
  }

  &__calendar-arrow-wrapper {
    display: flex;
    justify-content: space-between;
    padding: rem(16) rem(8);
    width: 100%;
    position: absolute;

    button {
      color: #ffffff;
      width: rem(24);
      height: rem(18);
      cursor: pointer;
    }
  }

  &__calendar-wrapper {
    display: flex;
    gap: rem(16);
  }

  .calendar {
    display: block;
    width: var(--datepicker-width);

    &__month-year-display {
      @include flex-center;
      padding: rem(8) 0;

      p {
        font-size: rem(24);
        line-height: calc(rem(24) * 1.5);
      }
    }

    &__day-name-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
    }

    &__day-name {
      @include flex-center;
      height: 40px;
      width: var(--day-width);
      font-weight: 600;
      margin-bottom: 0;
    }

    &__days-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      align-content: flex-start;
      height: var(--datepicker-height);
    }

    &__day {
      @include flex-center;
      height: var(--day-width);
      width: var(--day-width);
      border-width: var(--day-border-width);
      border-color: var(--day-border-color);
      border-style: var(--day-border-style);
      border-radius: 0;
      background: #333;
      border-radius: 8px;

      color: #eee;
      position: relative;
      cursor: pointer;

      &:hover {
        --day-border-width: 1px;
        --day-border-color: #d9e;
      }

      &.selected {
        background-color: blue;
      }

      &:first-child {
        margin-left: calc(var(--day-width) * var(--first-day-of-month));

        &::before {
          content: '';
          display: inline-block;
          min-width: calc(
            var(--day-width) * var(--first-day-of-month) +
              var(--day-border-width)
          );
          height: calc(100% + var(--day-border-width) * 2);
          background-color: #3336;
          position: absolute;
          right: 100%;
        }
      }

      &:last-child {
        &::after {
          content: '';
          display: inline-block;
          min-width: calc(
            var(--day-width) * (6 - var(--last-day-of-month)) +
              var(--day-border-width)
          );
          height: calc(100% + var(--day-border-width) * 2);
          background-color: #3336;
          position: absolute;
          left: 100%;
        }
      }
    }
  }
}
